// @import url('./nromalize.less');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis; /* 弹性伸缩盒子模型显示*/
  display: -webkit-box;
  /* 限制在一个块元素显示的文本的行数*/
  -webkit-line-clamp: 2;
  /*大设置或检索伸缩盒对象的子元素的排列方式*/
  -webkit-box-orient: vertical;
}
p {
  padding: 0;
  margin: 0;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
button {
  outline-style: none;
  border: 0;
}
input {
  outline: none;
  border: 0;
}
li,
dl,
ol {
  list-style: none;
}
body,
html,
#app {
  height: 100%;
  width: 100%;
  /* 最少 1400px */
  min-width: 28rem;
}

.container {
  width: 28rem !important;
  margin: auto;
}
.lager-container {
  width: 100% !important;
  margin: auto;
}
a {
  text-decoration: none;
  color: black;
}
.icon {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  fill: currentColor;
  overflow: hidden;
  color: #000;
}
.app-body {
  margin-top: 0.5rem;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table; /*转换成表格*/
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}

.card {
  width: 1450px;
  padding: 20px 0;
  margin: 0 auto 12rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: transparent;
}

img {
  vertical-align: middle;
  border-radius: 0.1rem;
}
.songTypeActive {
  color: #409eff;
}
.playnew {
  position: absolute;
  top: 57%;
  left: 50%;
  font-size: 30px;
  transform: translate(-50%, -80%);
  &:hover {
    color: #409eff;
  }
}
