.newsong-container {
  .newsong-container-item {
    position: relative;
    display: inline-block;
    width: 48%;
    margin: 0.2rem;
    font-size: 0.4rem;
    img {
      width: 2rem;
      height: 2rem;
      cursor: pointer;
    }
    .songname {
      position: absolute;
      top: 0.3rem;
      left: 2.3rem;
    }
    .singername {
      position: absolute;
      bottom: 0.3rem;
      left: 2.3rem;
      color: #808080;
      font-size: 0.3rem;
    }
    .newsong-bofang {
      cursor: pointer;
      position: absolute;
      cursor: pointer;
      top: 24%;
      left: 3.8%;
      font-size: 1rem;
      color: rgba(0, 0, 0, 0.8);
      display: none;
      &:hover {
        color: red !important;
      }
    }
    .newsong-shoucang {
      cursor: pointer;
      position: absolute;
      top: 30%;
      right: 7%;
      font-size: 0.5rem;
      color: rgba(0, 0, 0, 0.8);
      display: none;
      // &:hover {
      //   color: red !important;
      // }
    }
    .songtime {
      position: absolute;
      top: 0.8rem;
      right: 0.2rem;
      font-size: 0.32rem;
    }
    &:hover {
      background: rgba(0, 0, 0, 0.2);
      .newsong-bofang,
      .newsong-shoucang {
        display: block;
      }
      .songtime {
        display: none;
      }
    }
  }
}
